// on settings layout 
.setting-layout {
    .setting-tab .nav-bar {
        .nav-item {
            margin-bottom: 12px;
            &::before {
                content: "";
            }
        }
    }
    .setting-main {
        .Theme_Altruistic.plugin-config-view {
            input#BackgroundOpacity {
                appearance: auto !important;
                width: 100%;
                max-width: 720px;
            }
        }
    }
}
